@import url('https://fonts.cdnfonts.com/css/boowie');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://db.onlinewebfonts.com/c/06876be31ffe4c0ca832e67353fa5c62?family=LILIMING+W00+Regular');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.header-title{
    font-family: "Orbitron", sans-serif;
    font-size: 24px;
    letter-spacing: 1.4px;
    font-weight: 500;
    margin-top: 22px;
    
}

*{
    color: white;
}


.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 9px;
    padding-right: 9px;
}

.first-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.first-block a{
    font-family: "LILIMING W00 Regular";
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: -3px;
    margin-left: 5px;
    
}

.third-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
.third-block a{
    font-family: "LILIMING W00 Regular";
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: -3px;
    margin-right: 5px;
}

.header-container a{
    text-decoration: none;
}


.hero-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 100px;
    flex-direction: row;
}

/*.first-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}*/

.first-title-container{
    margin: 0;
    padding: 0;
}
.first-title-container2{
    margin: 0;
    padding: 0;
}



.second-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
}

.title1{
    font-family: "Orbitron", sans-serif;
    font-size: 4.8rem;
    letter-spacing: 1.1px;
    font-weight: 450;
    margin: 0;
    padding: 0;
    margin-left: 55px;
    cursor: pointer;
}

.title2{
    font-family: "Orbitron", sans-serif;
    font-size: 4.8rem;
    letter-spacing: 1.1px;
    font-weight: 450;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.title3{
    font-family: 'BOOWIE', sans-serif;
    font-size: 6rem;
    letter-spacing: 1.1px;
    font-weight: 450;    
    margin: 0;
    padding: 0;
    margin-left: 105px;      
    cursor: pointer;                                  
}
.second-title-container2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: -40px;
}
.second-title-container2 :nth-of-type(1){
    align-self: flex-end;

}

.second-title-container2 span{

    font-family: "LILIMING W00 Regular";
    opacity: 0.8;
    font-size: 15px;
}


.block1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: -230px;
}

.block1 span{
    font-family: "LILIMING W00 Regular";
    margin-left: 15px;
    cursor: pointer;
    opacity: 0.8;
}

.block3{
    margin-top: -230px; 
}

.arrow{
    height: 50px;
    margin-right: 15px;
    cursor: pointer;
}

.scroll-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}



.circle {
    position: relative;
    width: 179px; /* Size of the circle */
    height: 179px;
    border: 0.4px solid gray;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    animation: rotateText 7s linear infinite;
    transform-origin: center;
    opacity: 0.8;
    cursor: pointer;
  }

  .logo-circle {
    animation: reverseRotateText 7s linear infinite;
    transform-origin: center;
  }
  .circle:hover{
    animation-play-state: paused;

  }

  .circle:hover .logo-circle{
    animation-play-state: paused;
  }

  .logo {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;

  }
  
  .text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%); /* Ensure it is perfectly centered */
    left: 50%; /* Align horizontally */
    top: 7%; /* Align vertically */
  }
  
  .text span {
    position: absolute;
    font-size: 15px; /* Adjust text size */
    transform-origin: 50% 90px; /* Controls the distance of letters from center */
    transform: translateX(-50%); /* Center each character */
    font-family: "Roboto Mono", monospace;
  }

  
  /* Dynamic rotation for each character */
  .text span:nth-child(1) {
    transform: rotate(0deg) translateX(-50%);
  }
  
  .text span:nth-child(2) {
    transform: rotate(15deg) translateX(-50%);
  }
  
  .text span:nth-child(3) {
    transform: rotate(30deg) translateX(-50%);
  }
  
  /* You can continue the pattern for the rest of the letters */
  .logo-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.4px solid gray;
    border-radius: 50%;
    height: 8.2em;   
    width: 8.2em;
  }


  /* rotating text*/



  

  
  @keyframes rotateText {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes reverseRotateText {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
/*  
.text-container{
    display: inline-block;
    animation: rotateText 5s linear infinite;
    transform-origin: center;
}
    */



@media (max-width: 1024px) {

    .header-container{
        overflow-x: hidden;
        padding-left: 12px;
        padding-right: 12px;

    }
    .header-title{
        font-size: 20px;
    }
    
    .title1{
        font-size: 3.7rem;
    }
    
    .title2{
        font-size: 3.7rem;
    }
    
    .title3{
        font-size: 4rem;                              
    }
    .hero-body{
      margin-top: 200px;
    }
    .arrow{
      height: 35px;
      margin-right: 15px;
    }
    .scroll-container{
      margin-top: 120px;
    }

    .second-title-container2 span{
      font-size: 14px;
    }

    .second-title-container2{
      margin-top: -15px;
  }

  .body{
    height: 1250px;
    width: 100%;
  }
  



}

@media only screen and (max-width : 667px) {
    .header-container{
        overflow-x: hidden;
        padding-left: 12px;
        padding-right: 12px;
    }
    .header-title{
        font-size: 20px;
    }
    
    .title1{
        font-size: 2.7rem;
    }
    
    .title2{
        font-size: 2.7rem;
    }
    
    .title3{
        font-size: 3.2rem;      
       margin-top: 5px;                  
    }
    .second-title-container2 span{
        font-size: 6.5px;

    }
}